@font-face {
  font-family: organo;
  src:url('../fonts/Organo.ttf') format('truetype');
}


/*body styles - background positioning*/
html, body{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  color: #000;
}

/*semi-transparent navbar*/
.navbar{
  background:#fff;
}

.navbar-brand{
  font-family:organo;
}

/*color state for active navbar item*/
.active-h{
  background-color:#AF8809;
}

/*hover animation for menu item*/
.nav li:hover{
  background-color:#AC5D13;
}

.intro{
  background: url('../img/head_bg2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  min-height: 50% !important;
  height: 50%;
  font-family:organo;
}

.container{
  text-align: center;
}

#video-container{
  background: white;
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
  padding: 30px;
  overflow-x: auto;
  white-space: nowrap;
  margin: 10px;
}

.vid{
  display: inline-block;
  width: 300px;
  height: 200px;
}

/*container for introductory text*/
.img-container{
  padding: 20px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  background: white;
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
  margin-bottom: 50px;
}

.img-container img{
  display: inline-block;
  margin-right: 10px;
  max-width: 250px;
  max-height: 400px;
  min-height: 300px;
  border: 2px solid rgb(255, 145, 0);
}