@font-face {
  font-family: organo;
  src:url('../fonts/Organo.ttf') format('truetype');
}

html, body{
  height: 100% !important;
}

/*semi-transparent navbar*/
.navbar{
  background:#fff;
}

.navbar-brand{
  font-family:organo;
}

/*color state for active navbar item*/
.active-h{
  background-color:#AF8809;
}

/*hover animation for menu item*/
.nav li:hover{
  background-color:#AC5D13;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  -webkit-animation:bounce 1s;
  animation:bounce 1s;
}

/*container for introductory text*/
.intro-div{
  height: 100%;
  padding-top: 160px;
  text-align: center;
  background: url('../img/head_bg2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

/*title styling*/
#intro{
  color:black;
  font-family:organo;
}

#container{
  text-align: center;
  align-content: center;
  margin: auto;
  padding: 0px;
}

/*styling for each service listed*/
.service{
  text-align:center;
  color:black;
  background: white;
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 450px;
  height: 450px;
  display: inline-block;
}

/*name header of service*/
.service-name{
  font-family:organo;
}

