@font-face {
  font-family: organo;
  src:url('../fonts/Organo.ttf') format('truetype');
}

@font-face {
  font-family: batik;
  src:url('../fonts/batik.ttf') format('truetype');
}

/*body styles - background positioning*/
body {
  padding-top: 80px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*semi-transparent navbar*/
.navbar{
  background-color:rgba(0, 0, 0, 0.8);
}

.navbar-brand{
  font-family:organo;
}

/*color state for active navbar item*/
.active-h{
  background-color:#AF8809;
}

/*hover animation for menu item*/
.nav li:hover{
  background-color:#AC5D13;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  -webkit-animation:bounce 1s;
  animation:bounce 1s;
}

/*container for introductory text*/
.intro-div{
  padding: 40px 15px;
  text-align: center;
  margin-bottom: 50px;
}

/*title styling*/
#intro{
  color:White;
  font-family:organo;
}

/*styling for each service listed*/
.service{
  text-align:center;
  color:Wheat;
  padding: 5px;
  margin-bottom: 30px;

  background: url('../img/bg4.jpg');
  text-align: center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*name header of service*/
.service-name{
  font-family:batik;
}

.service .lead{
  padding-right:10px;
}
