@font-face {
  font-family: organo;
  src:url('../fonts/Organo.ttf') format('truetype');
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  color: #000;
}

/*navbar*/
.navbar{
  color: rgb(0, 0, 0);
  background: #fff;
  font-family:organo;
}


/*color state for active navbar item*/
.active-h{
  background-color:#AC5D13;
  color: #fff;
}

/*hover animation for menu item*/
.nav li:hover{
  background-color:#AC5D13;
  -moz-animation:bounce 1s;
  -ms-animation:bounce 1s;
  -webkit-animation:bounce 1s;
  animation:bounce 1s;
}

/*seperate container for the logo*/
.logo-div{
  background: url('../img/head_bg2.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgb(53, 53, 53);
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  font-family:organo;
}

#logo{
  margin-top: 100px;
  width:400px;
  height:200px;
}

/*about section*/
.about{
  text-align:center;
  background: white;
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/*about section header*/
.about h1{
  color:#EA870C;
  padding-top: 1em;
  font-family: organo;
}

/*.about link to services*/
.about .lead a {
  text-decoration: none;
  color: #EA870C;
}
.about .lead a:hover {
  color: rgb(255, 94, 0);
}

/*images on page- size, onhover etc*/
.img-container{
  text-align:center;
  color:black;
  background: white;
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.img-container img{
  margin:10px;
  border: 2px solid rgb(255, 115, 0);
}

.img-container h1{
  color:#EA870C;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: organo;
}

.img-container a{
  color:#EA870C;
  font-size:21px;
  text-decoration: none;
}

.img-container a:hover{
  color: rgb(255, 60, 0);
}

/*Contact info section*/
.contact-info{
  text-align:center;
  color:White;
  background-color: black;
  box-shadow: 0px 0px 10px #000;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  padding-bottom: 40px;
}

.contact-info h1{
  color:Orange;
}

#img-email{
  height: 30px;
  width: 30px;
}

#img-facebook{
  height: 30px;
  width: 30px;
  margin-right: 2em;
}

/*footer styles*/

footer p {
  text-align: center;
  font-family: organo;
  font-size: 15px;
  color: #666;
}

footer p span {
  float: right;
  padding-right: 1em;
}

footer p text {
  padding-left: 3.5em;
}
