
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.body{
  background-attachment:fixed;
}

.navbar{
  background:url('../img/transparent_navbar.png');
}
