
body {
  padding-top: 60px;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*seperate container for the logo*/
.logo-div{
  padding: 40px 15px;
  text-align: center;
}

/*container for breif description etc*/
.preface{
  margin-top: 0px;
  text-align: center;
}

/*semi-transparent navbar*/
.navbar{
  background-color:rgba(0, 0, 0, 0.8);
}

/*color state for active navbar item*/
.active-h{
  background-color:#735303;
}

#logo{
  width:580px;
  height:280px;
}
